body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Fira Mono', monospace;
    margin: 0;
    padding: 0;
}

/* Main */
main {
    padding-top: 2rem;
    /* font-family removed, inherited from body */
}

/* Footer global styles */
footer.footer {
    color: #E0E0E0;
}
