body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Fira Mono', monospace;
    margin: 0;
    padding: 0;
}

:root[data-theme='dark'] {
    --bg-color: #121212;
    --text-color: #E0E0E0;
}
:root[data-theme='light'] {
    --bg-color: #FAFAFA;
    --text-color: #222222;
}

main {
    padding-top: 2rem;
}

footer.footer {
    color: var(--text-color);
}
