---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.svelte';
import App from '../routes/App.svelte';
---
<Layout>
  <Header client:load />
  <main style="flex: 1; display: flex; align-items: center; justify-content: center;">
    <App client:only="svelte" />
  </main>
  <Footer client:load />
</Layout>
