---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.svelte';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.svelte';
---
<BaseLayout>
  <Header />
  <main style="flex: 1; display: flex; align-items: center; justify-content: center;">
    <Hero />
  </main>
  <Footer />
</BaseLayout>
